.dark-mode{
    background-color: darken($grisOscuro, 10);

    p,a,h2,h3,h1, blockquote{
        color: $gris;
    }

    .anuncios{
        background-color: $grisOscuro;
        border: 1px solid $grisOscuro;
    }
}